body{
    background-color: black;
}
.outer{
    height: 460px;
    width: 50%;
    background-color: white;
    margin: 80px 300px;
}

.inner{
    border: 3px solid black;
    height: 440px;
    width: 97%;
    position: relative;
    top: 6px;
    left: 6px;
}

.top{
    height: 100px;
    width: 100%;
    background-color: aqua;
    word-spacing: 8px;
    line-height: 30px;
}

.bottom{
    height: 350px;
    width: 100%;
    background-color: yellow;
    /* overflow: hidden; */
    overflow:auto;
}